/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EA4C89;
}

/* Navigation Bar */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #37517e;

}

.container {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li {
    position: relative;
    margin-right: 20px;
}

.navbar a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
    color: #47b2e4;
}

.getstarted {
    padding: 8px 20px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
    margin-left: 30px;
    transition: background-color 0.3s;
}

.getstarted:hover {
    background-color: #31a9e1;
}

.mobile-nav-toggle {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    display: none;
    transition: color 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .navbar ul {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
    }
}

/* Hero Section */
#hero {
    width: 100%;
    height: 80vh;
    background: #37517e;
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 72px;
}

#hero .container {
    padding-top: 0;
}

#hero h1 {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

#hero h2 {
    margin-bottom: 50px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
}

#hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: background-color 0.5s;
    margin: 10px 0 0 0;
    background: #47b2e4;
}

#hero .btn-get-started:hover {
    background: #209dd8;
}

#hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: color 0.5s;
    margin: 10px 0 0 25px;
    line-height: 1;
}

#hero .btn-watch-video i {
    font-size: 32px;
    line-height: 0;
    color: #fff;
    transition: color 0.3s;
    margin-right: 8px;
}

#hero .btn-watch-video:hover i {
    color: #47b2e4;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #hero {
        height: 100vh;
        text-align: center;
        padding-top: 150px;
    }

    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }

    #hero .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.height {
    height: 100vh;
}

.search {
    margin: 100px 50px 100px 50px;
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
}